@keyframes tickerh {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.jast-wrapper {
  overflow: hidden;
  --size: 1.4rem;
  font-size: var(--size);
  line-height: calc(var(--size) * 1.44);
}
.jast-wrapper.horizontal {
  margin: 0 auto;
  white-space: nowrap;
}
.jast-wrapper ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.jast-wrapper.vertical {
  height: calc(var(--size) * 1.44);
}
.jast-wrapper.vertical > ul {
  animation-name: tickerv;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 0);
}
.jast-wrapper.horizontal .jast-hticker {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.jast-wrapper.horizontal span.jast-tickerframe {
  display: inline-block;
  padding-left: 100%;
}

.jast-wrapper.horizontal span.jast-stock:before {
  content: "\2022";
  margin-right: 0.4em;
  margin-left: 0.4em;
}

.jast-wrapper .jast-stock span.high {
  color: green;
}
.jast-wrapper .jast-stock span.low {
  color: red;
}

.jast-multi-currency::before {
  content: "// ";
}