

{% macro render(config, exchangeData, utils, num="1") %}
  <p class="jast-hticker jast-ticker-no{{ num }}">
    <span class="jast-tickerframe">
    {% for stock in config.stocks %}
      <span class="jast-stock">{{ stock.name }}:
        {% if utils.getStockChange(stock) > 0 %}
          {% set colorClass = "high" %}
        {% elif utils.getStockChange(stock) < 0 %}
          {% set colorClass = "low " %}
        {% else %}
          {% set colorClass = "" %}
        {% endif %}
        <span class="{{ colorClass }}">
          {{ utils.getCurrentValue(stock, exchangeData) }}
          {{ utils.getCurrency(stock, exchangeData, config) }}
          {% if colorClass %}
            ({{ utils.getStockChange(stock) }}%)
          {% endif %}
        </span>
      </span>
    {% endfor %}
    {% if config.showDepotGrowth %}
      {% set depotGrowth = utils.getDepotGrowth(config, exchangeData) %}
      {% if depotGrowth.value > 0 %}
        {% set colorClass = "high" %}
      {% elif depotGrowth.value < 0 %}
        {% set colorClass = "low " %}
      {% else %}
        {% set colorClass = "" %}
      {% endif %}
      <span class="jast-stock">{{ "depotGrowth" | translate | safe }}
        <span class="{{ colorClass }}">{% if depotGrowth.errors%}≈ {% endif %}{{ depotGrowth.value }} {{ config.defaultCurrency }}</span>
      </span>
    {% endif %}
    </span>
  </p>
{% endmacro %}
