{% import "templates/VerticalScrollStyle.njk" as vss with context %}

{% macro render() %}
  {% if config.scroll == "vertical" %}
    {{ vss.render(config) }}
    {% if config.showDepotGrowth %}
      {% set fadeSpeed =  stocks.length + 1 %}
    {% else %}
      {% set fadeSpeed =  stocks.length %}
    {% endif %}
      {% set animationStyle = ' style="animation-duration: ' + fadeSpeed * config.fadeSpeedInSeconds + 's"' %}
  {% endif %}
    <ul {{ animationStyle | safe }}>
      {% for stock in stocks %}
        <li class="jast-stock">{{ stock.meta.name }}:
          {% if utils.getStockChange(stock) > 0 %}
            {% set colorClass = "high" %}
          {% elif utils.getStockChange(stock) < 0 %}
            {% set colorClass = "low " %}
          {% else %}
            {% set colorClass = "" %}
          {% endif %}
          <span class="{{ colorClass }}">
            {{ utils.getCurrentValue(stock) }}
            {% if config.showCurrency %}{{ utils.getCurrency(stock) }}{% endif %}
            {% if colorClass and (config.showChangeValue or config.showChangePercent) %}
              <span class="jast-change">
                ({% if config.showChangeValue %}<span class="jast-change-value">{% if colorClass == "high" %}+{%endif%}{{ utils.getStockChange(stock) }}{% if config.showChangeValueCurrency %} {{ utils.getCurrency(stock) }}{% endif %}</span>{% endif %}
                {% if config.showChangePercent %}<span class="jast-change-value">{% if colorClass == "high" %}+{%endif%}{{ utils.getStockChangePercent(stock) }}%</span>{% endif %})
              </span>
            {% endif %}
          </span>
        </li>
      {% endfor %}
      {% if config.showDepotGrowth %}
        {% set depotGrowth = utils.getDepotGrowth(config, stocks) %}
          <li class="jast-stock">{{ "depotGrowth" | translate | safe }}
            {% for growth in depotGrowth %}
            {% if growth.value > 0 %}
              {% set colorClass = "high" %}
            {% elif growth.value < 0 %}
              {% set colorClass = "low " %}
            {% else %}
              {% set colorClass = "" %}
            {% endif %}
            <span class="{{ colorClass }}{% if loop.index != 1 %} jast-multi-currency{% endif %}">{{ growth.value }} {{ growth.currency }}</span>
          {% endfor %}
        </li>
      {% endif %}
    </ul>
{% endmacro %}
