{% import "templates/VerticalScrollStyle.njk" as vss with context %}
{% macro render() %}
  {% if config.scroll == "vertical" %}
    {{ vss.render(config) }}
    {% if config.showPortfolioGrowth %}
      {% set fadeSpeed =  stocks.length + 1 %}
    {% else %}
      {% set fadeSpeed =  stocks.length %}
    {% endif %}
    {% set animationStyle = ' style="animation-duration: ' + fadeSpeed * config.fadeSpeedInSeconds + 's"' %}
  {% endif %}
    <ul {{ animationStyle | safe }}>
      {% for stock in stocks %}
        {% if not stock.meta.hidden or config.showHiddenStocks %}
          <li class="jast-stock">{{ utils.getStockName(stock) }}:
            {% if utils.getStockChange(stock) > 0 %}
              {% set colorClass = "high" %}
            {% elif utils.getStockChange(stock) < 0 %}
              {% set colorClass = "low" %}
            {% else %}
              {% set colorClass = "" %}
            {% endif %}
            <span class="{{ colorClass }}">
              {{ utils.getCurrentValueAsString(stock, config) }}
              {% if colorClass and (config.showChangeValue or config.showChangePercent) %}
                <span class="jast-change">
                  ({% if config.showChangeValue %}<span class="jast-change-value">{% if colorClass == "high" %}+{%endif%}{{ utils.getStockChangeAsString(stock, config) }}</span>{% endif %}
                  {% if config.showChangePercent %}<span class="jast-change-value">{% if colorClass == "high" %}+{%endif%}{{ utils.getStockChangePercentAsString(stock, config) }}</span>{% endif %})
                </span>
              {% endif %}
            </span>
          </li>
        {% endif %}
      {% endfor %}
    {% if config.showPortfolioValue or config.showPortfolioGrowth or config.showPortfolioGrowthPercent %}
      {% set portfolio = utils.getPortfolio(stocks, config) %}
        <li class="jast-stock">{{ "portfolio" | translate | safe }}
          {% for entry in portfolio %}
            {% if entry.value > entry.oldValue %}
              {% set colorClass = "high" %}
            {% elif entry.value < entry.oldValue %}
              {% set colorClass = "low" %}
            {% else %}
              {% set colorClass = "" %}
            {% endif %}
            <span class="{{ colorClass }}{% if loop.index != 1 %} jast-multi-currency{% endif %}">
              {% if config.showPortfolioValue %} {{ utils.getPortfolioValueAsString(entry, config) }} {% endif %}
              {% if colorClass and (config.showPortfolioGrowth or config.showPortfolioGrowthPercent) %}
                {% if config.showPortfolioValue %}<span class="jast-change">({% endif %}
                {% if config.showPortfolioGrowth %}<span class="jast-change-value">{% if colorClass == "high" %}+{%endif%}{{ utils.getPortfolioChangeAsString(entry, config) }}</span>{% endif %}
                {% if config.showPortfolioGrowthPercent %}<span class="jast-change-value">{% if colorClass == "high" %}+{%endif%}{{ utils.getPortfolioChangePercentAsString(entry, config) }}</span>{% endif %}
                {% if config.showPortfolioValue %})</span>{% endif %}
              {% endif %}
            </span>
          {% endfor %}
        </li>
      {% endif %}
      {% if config.showLastUpdate %}
        <li class="jast-stock">{{ "lastUpdate" | translate | safe }} {{ lastUpdate }}</li>
      {% endif %}
    </ul>
{% endmacro %}
